<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vortis Mobile</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css\styles_index.css">
</head>
<body>
    <header>
        <h1 id="brand-name">Vortis Mobile</h1>
        <nav>
            <ul>
                <li><a href="#">Início</a></li>
                <li><a href="#">Entry</a></li>
                <li><a href="#">Core</a></li>
                <li><a href="#">Elite</a></li>
                <li><a href="#">Qual o melhor aparelho para mim?</a></li>
                <li><a href="#">Contato</a></li>
                <li><a href="carrinho.html">Meu Carrinho</a><li>
                <li><a href="login.html">Minha Conta</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="product-grid">
            <div class="product-item">
                <div class="image-placeholder">
                    <img src="css\images/vortis-entry-lite.png" alt="Vortis Entry Lite">
                </div>
                <h2>Vortis Entry</h2>
                <p>Lite 64GB</p>
                <p class="price">R$ 567,90</p>
                <button class="buy-button">Comprar</button>
            </div>
            <div class="product-item">
                <div class="image-placeholder">
                    <img src="css\images/vortis-entry-plus.png" alt="Vortis Entry Plus">
                </div>
                <h2>Vortis Entry</h2>
                <p>Plus 128GB</p>
                <p class="price">R$ 833,90</p>
                <button class="buy-button">Comprar</button>
            </div>
            <div class="product-item">
                <div class="image-placeholder">
                    <img src="css\images/vortis-core-pro.png" alt="Vortis Core Pro">
                </div>
                <h2>Vortis Core</h2>
                <p>Pro 256GB</p>
                <p class="price">R$ 999,90</p>
                <button class="buy-button">Comprar</button>
            </div>
            <div class="product-item">
                <div class="image-placeholder">
                    <img src="css\images/vortis-elite-fino.png" alt="Vortis Elite Fino">
                </div>
                <h2>Vortis Elite</h2>
                <p>Fino 256GB</p>
                <p class="price">R$ 1330,30</p>
                <button class="buy-button">Comprar</button>
            </div>
            <div class="product-item">
                <div class="image-placeholder">
                    <img src="css\images/vortis-elite-ultra.png" alt="Vortis Elite Ultra">
                </div>
                <h2>Vortis Elite</h2>
                <p>Ultra 1TB</p>
                <p class="price">R$ 1970,00</p>
                <button class="buy-button">Comprar</button>
            </div>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Vortis Mobile. Todos os direitos reservados.</p>
    </footer>

    <script src="script.js"></script>
</body>
</html>
