<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Vortis Mobile</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css\styles_login.css">
</head>
<body>
    <header>
        <h1 id="brand-name">Vortis Mobile</h1>
        <nav>
            <ul>
                <li><a href="index.html">Início</a></li>
                <li><a href="#">Entry</a></li>
                <li><a href="#">Core</a></li>
                <li><a href="#">Elite</a></li>
                <li><a href="#">Qual o melhor aparelho para mim?</a></li>
                <li><a href="#">Contato</a></li>
                <li><a href="carrinho.html">Meu Carrinho</a><li>
                <li><a href="#">Minha Conta</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="login-container">
            <div class="form-container">
                <h2>Login</h2>
                <form>
                    <label for="email">E-mail:</label><br>
                    <input type="email" id="email" name="email" required><br><br>
                    
                    <label for="password">Senha:</label><br>
                    <input type="password" id="password" name="password" required><br><br>

                    <a href="#" class="forgot-password">Esqueceu a senha?</a><br><br>
                    
                    <button type="submit">Entrar</button><br><br>

                    <label for="cadastro">Não tem uma Vortis Mobile? <a href="register.html">Registre-se agora.</a></label><br>
                </form>
            </div>
        </section>
    </main>
</body>
</html>