<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciamento de Usuários - Vortis Mobile</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles_users.css">
</head>
<body>
<header>
    <h1 id="brand-name">Vortis Mobile</h1>
    <nav>
        <ul>
            <li><a href="index.html">Início</a></li>
            <li><a href="#">Entry</a></li>
            <li><a href="#">Core</a></li>
            <li><a href="#">Elite</a></li>
            <li><a href="#">Qual o melhor aparelho para mim?</a></li>
            <li><a href="#">Contato</a></li>
            <li><a href="carrinho.html">Meu Carrinho</a><li>
            <li><a href="#">Minha Conta</a></li>
        </ul>
    </nav>
</header>

<main>
    <section class="users-container">
        <h2>Gerenciamento de Usuários</h2>
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Telefone</th>
                <th>Ações</th>
            </tr>
            </thead>
            <tbody id="users-table-body">
            <!-- Os dados dos usuários serão preenchidos aqui via JavaScript -->
            </tbody>
        </table>
    </section>
</main>

<script src="js/users.js"></script>

</body>
</html>
