body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #1a1a1a;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

#brand-name {
    font-size: 2em;
    margin: 0;
    font-weight: 600;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    font-size: 1em;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    text-align: center;
}

.product-grid {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.product-item {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    width: 18%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.image-placeholder {
    width: 100%;
    padding-top: 100%; /* Isso faz com que a altura seja igual à largura, mantendo a proporção quadrada */
    background-color: #ddd;
    margin-bottom: 15px;
    position: relative;
}

.image-placeholder img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Garante que a imagem preencha completamente o espaço quadrado */
}

h2 {
    font-size: 1.2em;
    margin: 10px 0;
    font-weight: 600;
}

.price {
    font-size: 1.1em;
    font-weight: 600;
    color: #333;
    margin: 10px 0;
}

.buy-button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buy-button:hover {
    background-color: #218838;
}

footer {
    background-color: #1a1a1a;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
